<header class="header">
    <h1 class="site-title"><a href="/">{{ site.title }}</a></h1>
</header>

<nav class="nav">
    <ul class="nav-list">
        {% for link in site.nav %}
            <li><a href="{{ link.link }}">{{ link.title }}</a></li>
        {% endfor %}
    </ul>
</nav>