<!DOCTYPE html>
<html lang="en">
<head>
    {% include "_head.liquid" %}
</head>
<body>

    {% include "_header.liquid" %}

    <main>
        {{ content }}
    </main>

    {% include "_pages.liquid" %}
    {% include "_footer.liquid" %}

</body>
</html>
