<article>
    <header>
        <h1>{{ page.title }}</h1>
        {% if page.created_at %}
        <time datetime="{{ page.created_at }}">{{ page.created_at | date: "%B %d, %Y" }}</time>
        {% endif %}
    </header>

    <main>
        {{ content }}
    </main>
</article>
